@import './Colours.scss';

.App {
  height: 100vh;
  background-color: $background-colour;
  font-family: 'Quicksand', sans-serif;
  color: black;
  justify-content: center;
}

.dice {
  display: flex;
  flex-direction: row;
  padding: 5vh;
}

